/*
 * Digital Cavalry Tips jQuery Plugin CSS (version 1.0)
 * http://themeforest.net/user/DigitalCavalry
 * 
 * file: dc-tips.css
 * 
 * Copyright 2011, Piotr Besta (Digital Cavalry)
 * You can not use this plugin without author permission
 * Date: 21 April 2011
 */
 
 #dc-tip-simple
 {
     width:auto;
     padding:5px 10px 5px 10px;
     position:absolute;
     left:20px;
     top:20px;
     background-color:#FAFAFA;
     border:1px solid #DDD;
     font:normal 11px/14px Helvetica;
     color:#888;
     display: none;
	 z-index:1000;
 }