/********************************************************************
    File:   
        slider_accordion.css
    Brief:  
        -
    Author:
        DigitalCavalry
    Author URI:
        http://themeforest.net/user/DigitalCavalry
*********************************************************************/

#accordion-container {
    width:960px; 
    height:420px; 
    overflow:hidden; 
    background-color:#F7F7F7; 
    position:relative;
    border:none;
    margin-left:auto;
    margin-right:auto;               
}

/*#accordion-container .async-img
{
    background-color:#F7F7F7;
    background-image:url('../img/ajax/12.gif');
    background-position:center center;
    display:block;
}*/

#accordion-container .slide 
{
    width:900px;  
    height:420px; 
    position: absolute;  
    border-left:1px solid #AAA;  
    left:0px; 
    top:0px;
    background-color:#F7F7F7;     
}

#accordion-container .slide .stripe 
{
    display:block;
    position: absolute;
    left:0px;
    top:0px;
    width:960px;
    height:420px;
    background-color:transparent;
}

#accordion-container .slide .stripe:hover
{
    text-decoration:none;
}   

#accordion-container .slide .strip-title
{
  position: absolute;
  left: 0px;
  bottom:30px;
  z-index:2;
  vertical-align: middle;
  text-transform:none;
  color: #333; 
  background-color:#FFFFFF;
  padding:10px;
  margin:0px; 
  width:100px; 
  opacity:0.90;
  filter:alpha(opacity=90); /* IE */      
}

#accordion-container .slide .shadow
{
    width:30px;
    height:420px;
    background-image:url('../img/slider_accordion/shadow.png');
    background-repeat:no-repeat;
    background-color:transparent;
    background-position:0px 0px;
    position:absolute;
    left:-16px;
    top:0px;
    overflow: hidden;
}

#accordion-container .slide .image 
{
    border-left: 0px solid #AAA; 
    width:900px; 
    height:420px;
	display:block;
    
   background-image: url('../img/ajax/14.gif');
   background-repeat: no-repeat;
   background-position: 50% 50%; 
}    

#accordion-container .slide .image img
{
    border:none;
}

#accordion-container .slide .text-back 
{
    bottom:-95px;
    margin-left:0px;
    margin-top:0px;
    position:absolute;
    left:0px;
    width:1000px;
    /*height:95px;*/
    opacity:0.0;
    filter:alpha(opacity=0); /* IE */ 
    background-color:#F7F7F7;
    border-bottom:0px solid #E5E5E5;
}

#accordion-container .slide .text 
{
    padding-top:0px;
    padding-left:15px;
    text-align:left;
    color:#333;
    bottom:-95px;
    margin-left:0px;
    margin-top:0px;
    position:absolute;
    left:0px;
    width:640px;
    /*height:95px;*/
    opacity:0.0;
    filter:alpha(opacity=0); /* IE */ 
    background:none;
    border:0px solid red;
    font-size:11px;
    line-height:14px;
    
    background-color: #F7F7F7;
    padding-right: 320px;
    padding-bottom: 10px;
    border-bottom:0px solid #E5E5E5;
}

#accordion-container .slide h3  
{
    margin-top:12px;
    margin-bottom:6px; 
    /*font-family: 'SansationLight'; */
    font-weight: bold;
    color:#333333;
	font-size:20px;
}

#accordion-container .slide h3 a
{
    color:#888888;
}

#accordion-container .slide h3 a:hover
{
    color:#888888;
}

    






