/********************************************************************
    File:   
        slider_a.css
    Brief:  
        -
    Author:
        DigitalCavalry
    Author URI:
        http://themeforest.net/user/DigitalCavalry
*********************************************************************/

/*********************************************************************
    SLIDER A CSS STYLES
**********************************************************************/

#slider-a-container
{
    width:960px;
    height:300px;
    background-color:#EEEEEE;
    overflow:hidden;
    position:relative;
}

#slider-a-container .async-img
{
    background-color:#000000;
    background-image:url('../img/ajax/14.gif');
    background-position:center center;
    display:block;
}

#slider-a-container .slide
{
    width:960px;
    height:300px;
    position:absolute;
    top:420px;
    left:0px;
    display:block;
    background-color:#EEEEEE;
}

#slider-a-container .slide img
{
    border:none;
}

#slider-a-container .prev
{
    width:20px;
    height:20px;
    z-index:20;
    position:absolute;
    bottom:17px;
    right:70px;
    display:block;
    background-color:transparent;
    background-image:url(../img/slider_progress/prev.png);
    background-position:0px 0px;
    background-repeat:no-repeat;
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor:pointer;
}

#slider-a-container .prev:hover
{
    opacity:1.0;
    filter:alpha(opacity=100);
}  

#slider-a-container .next
{
    width:20px;
    height:20px;
    z-index:20;
    position:absolute;
    bottom:17px;
    right:20px;
    display:block;
    background-color:transparent;
    background-image:url(../img/slider_progress/next.png);
    background-position:0px 0px;
    background-repeat:no-repeat;        
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor:pointer;
}

#slider-a-container .next:hover
{
    opacity:1.0;
    filter:alpha(opacity=100);
}

#slider-a-container .play
{
    width:20px;
    height:20px;
    z-index:20;
    position:absolute;
    bottom:17px;
    right:45px;
    display:block;
    background-color:transparent;
    background-image:url(../img/slider_progress/play.png);
    background-position:0px 0px;
    background-repeat:no-repeat;        
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor:pointer;
    display: none;
}

#slider-a-container .play:hover
{
    opacity:1.0;
    filter:alpha(opacity=100);
}

#slider-a-container .pause
{
    width:20px;
    height:20px;
    z-index:20;
    position:absolute;
    bottom:17px;
    right:45px;
    display:block;
    background-color:transparent;
    background-image:url(../img/slider_progress/pause.png);
    background-position:0px 0px;
    background-repeat:no-repeat;        
    opacity:0.6;
    filter:alpha(opacity=60);
    cursor:pointer;
}

#slider-a-container .pause:hover
{
    opacity:1.0;
    filter:alpha(opacity=100);
}

#slider-a-container .black-bar
{
    width:960px;
    height:52px;
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:#FFF;
    opacity:0.85;
    filter:alpha(opacity=85);
    z-index:15;
    border-bottom:1px solid #EEEEEE;
	border-top:1px solid #FFFFFF;
    
    /*background-color: transparent;*/
}

#slider-a-container .thumb-bar
{
    width:960px;
    height:42px;
    position:absolute;
    bottom:5px;
    padding-left:10px;
	padding-top:5px;
    left:0px;
    background-color:transparent;
    z-index:16;
	/*border-bottom:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;*/
}

#slider-a-container .thumb
{
    width:59px;
    height:26px;
    display:block;
    background-color:#000000;
    border:3px solid #000000;
    margin-top:5px;
    margin-left:5px;
    float:left;
    cursor:pointer;
    overflow: hidden;
    position: relative;
    
    background-color: transparent;
} 

#slider-a-container .thumb .color
{
    display: block;
    position: absolute;
    left:0px;
    top:0px;
    width:59px;
    height:26px;
    /*display:none; */
    overflow: hidden;
    
    opacity:0.9;
    filter:alpha(opacity=90);
}     

#slider-a-container .thumb .black
{
    display: block;
    position: absolute;
    left:0px;
    top:0px;
    width:59px;
    height:26px;
    opacity:0.5;
    filter:alpha(opacity=50);    
}

#slider-a-container .desc
{
    z-index:10;
    display:none;
    position:absolute;
    left:0px;
    top:0px; 
    opacity:0.90;
    filter:alpha(opacity=90);         
}

#slider-a-container .desc .btn-bar
{
    height:22px;
    background-color:transparent;
    margin-top:0px;
    background-color:#FFFFFF;
    border-top: 1px solid #E5E5E5;
}

#slider-a-container .desc .btn-left
{    
    padding: 2px 0px 2px 15px;
    height:18px;
    display:block;
    float: left;
    background-color:#FFFFFF;       
    margin-right:0px;
    text-align: center;
    text-decoration: none;
    font: normal 11px/18px Verdana; 
    color:#888888;
    /*border-right: 1px solid #E5E5E5; */
}

#slider-a-container .desc .btn-right
{    
    padding: 2px 15px 2px 0px;    
    height:18px;
    display:block;
    float: right;
    background-color:#FFFFFF;       
    margin-left:0px;
    text-align: center;
    text-decoration: none;
    font: normal 11px/18px Verdana; 
    color:#888888;
    /*border-left: 1px solid #E5E5E5; */
}

#slider-a-container .desc .btn-left:hover, 
#slider-a-container .desc .btn-right:hover
{ 
    color:#000000;
    background-color:#FFFFFF;
}

#slider-a-container .desc .head
{
    width: 240px;
    padding:5px 15px;
    background-color: #FFFFFF;
    display:table-cell;
    color:#000000;
    border-bottom: 1px solid #E5E5E5;
}

#slider-a-container .desc .head h3
{
   /*font: normal 20px/20px 'Lucida Grande','Lucida Sans Unicode',Tahoma,Arial,san-serif;   */
   font-size:20px;
   line-height:20px;
   vertical-align: middle;   
   margin-bottom:0px;
   padding:0px;
   color: inherit;
   font-weight: normal;     
}

#slider-a-container .desc .foot
{
    background-color:#FFFFFF;  
    padding:10px 15px;
    width:240px;    
}

#slider-a-container .desc .foot h3
{
    font: normal 20px/20px 'Lucida Grande','Lucida Sans Unicode',Tahoma,Arial,san-serif;
    margin-bottom:2px;
    padding:0px;
    color:#000000;
}

#slider-a-container .desc .foot .text
{
    color:#000000; 
    font: normal 11px/14px Verdana;    
}

#slider-a-container .desc .x, 
#slider-a-container .desc .y, 
#slider-a-container .desc .width,
#slider-a-container .desc .hbgcolor,
#slider-a-container .desc .hcolor 
{
    display:none;
}    