
.sf-menu 
{
	margin-bottom:0px;
    padding:0px;
    list-style: none;
    font-family: Georgia;
    position: absolute;
    right:0px; 
    top:0px  
}

.sf-menu li
{
    list-style: none;
    float:left;
    display:block;
    line-height:14px;
    height:14px;
    padding:9px 10px 9px 10px;
    text-transform:uppercase;
    position: relative;
    
    background-color:transparent;
    background-image:    url('../img/common/menu/item_separator.png');
    background-repeat: no-repeat;
    background-position: right center;     
}

.sf-menu li:last-child
{
    background-image:none;
}

.sf-menu li a
{
    color:#777;
}

.sf-menu li > a:hover
{
    text-decoration:none;
    color:#000;
}

.sf-menu li ul
{
    display: none;
    position:absolute;
    left:0px;
    top:32px;
    width:200px;
    z-index:50; 
} 
    
.sf-menu li ul li
{
    display:block;
    float:none;
    width:170px;
    padding:8px 20px 8px 10px;
    height:auto;
    
    background-image:    url('../img/common/menu/subitem_separator.png');
    background-repeat:no-repeat;
    background-position: center bottom;     
}      

.sf-menu li ul li:hover > a
{
    color:#000;
}                     

.sf-menu li ul li ul
{
    left:200px;
    top:0px;    
}

/*** arrows **/
.sf-menu a.sf-with-ul 
{
    padding-right:20px;
}

.sf-sub-indicator 
{
	position:		absolute;
	display:		block;
	right:			10px;
	top:			8px;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/common/menu/arrows.png') no-repeat -10px -100px;
}

a > .sf-sub-indicator 
{  
	top:			10px;
	background-position: 0px -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator 
{
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0px; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0px 0px; top: 8px; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator 
{
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	/*background:	url('../img/common/menu/shadow.png') no-repeat bottom right;  */
	/*padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;*/
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
