/*********************************************************** 
* CMS BOX WINDOW CSS
************************************************************/ 
.cms-box 
{
    position:absolute; 
    display:none; 
    padding:14px 17px; 
    z-index:80;
}
.cms-box-inner 
{
    padding:15px; 
    -moz-border-radius:5px; 
    border-radius:5px; 
    background:#fff url(../img/box/preload.gif) no-repeat 50% 50%; 
    border-right:1px solid #333; 
    border-bottom:1px solid #333
}

.cms-box-mask 
{
    position:absolute; 
    display:none; 
    top:0px; 
    left:0px; 
    height:100%; 
    width:100%; 
    background:#000; 
    z-index:70
}

.cms-box-close 
{
    position:absolute; 
    top:0px; 
    right:0px; 
    width:30px; 
    height:30px; 
    cursor:pointer; 
    background:url(../img/box/close.png) no-repeat;
    display: none;
}

.cms-box-close:hover 
{
    background-position:0 -30px;
}

/* outside core */
.cms-box-page p
{
    font-size:11px;
    margin-top:0px;
    color:#444;
}

.cms-box-page .half-page-left
{
    width:440px;
    margin-right:30px;
    float:left;    
}

.cms-box-page .half-page-right
{
    width:440px;
    margin-right:0px;
    float:left;    
}

.cms-box-page .third-page-left
{
    width:280px;
    margin-right:24px;
    float:left;    
}

.cms-box-page .third-page-inside
{
    width:280px;
    margin-right:24px;
    float:left;    
}

.cms-box-page .third-page-right
{
    width:280px;
    margin-right:0px;
    float:left;    
}

.cms-box-page p.desc
{
    font-size:11px;
    line-height:14px;
    margin-top:0px;
    color:#666;
    margin-bottom:5px;
    font-family:Helvetica;
}

.cms-box-page p.desc .highlight
{
    color:#3399CC;
    background-color:transparent;
}

.cms-box-page .cancel-btn
{
    cursor:pointer;
    float:left;
    padding-left:19px;
    padding-bottom:2px;
    background-image:url(../img/box/cross.png);
    background-position:left center;
    background-repeat: no-repeat;
}

.cms-box-page .insert-btn
{
    cursor:pointer;
    float:right;
    padding-left:20px;
    padding-bottom:2px;
    background-image:url(../img/box/insert.png);
    background-position:left center;
    background-repeat: no-repeat;    
}

.cms-box-page .page-title
{
    font-family:Helvetica;
    font-size:16px;
    color:#000; 
    margin:0px;   
    text-decoration: underline;
    
    padding:0px 0px 5px 30px;
    background-image:url(../img/box/window24.png);
    background-repeat: no-repeat;
    background-position: left top;      
}

.cms-box-page .label
{
    font-family:Helvetica;
    font-size:11px;
    color:#000;
    margin-bottom:0px;
    font-weight: bold;
                      
 
}

.cms-box-page .buttons-panel
{
    margin-top:15px;
    padding-top:5px;
    border-top:1px solid #EEEEEE;
}

.cms-box-page .text60
{
    text-align:center;
    width:60px;
}

.cms-box-page .text80
{
    text-align:center;
    width:80px;
}

.cms-box-page .text40
{
    text-align:center;
    width:40px;
}

.cms-box-page .text100
{
    text-align:left;
    width:100px;
}

.cms-box-page .text120
{
    text-align:left;
    width:120px;
}


.cms-box-page .text-full
{
    width:100%;
}

.cms-box-page .text-80p
{
    width:80%;
}

.cms-box-page .panel
{
    display:none;
    margin-bottom:10px;
}

.cms-box-page .select320
{
    width:320px;
    color:#444;
    font-size:11px;
}

.cms-box-page .select80
{
    width:80px;
    color:#444;
    font-size:11px;
}    

.cms-box-page .select160
{
    width:160px;
    color:#444;
    font-size:11px;
}    

.cms-box-page .select-full
{
    width:100%;
    color:#444;
    font-size:11px;
}  

.cms-box-page .clear
{
    height:1px;
    clear: both;
}

/*********************************************************** 
* CMS SUBMENU CSS
************************************************************/ 

.cms-sub-menu
{
    padding-top:10px;
    padding-bottom:10px;
    font-size:12px;
    line-height:15px; 
}

.cms-sub-menu a
{
    padding:0px 0px 0px 14px;
    background-image:url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: left 3px;      
}

.cms-sub-menu .head
{
    font:bold 10px/10px Verdana;
    margin-top:0px;
    margin-bottom:5px;
    color:#222222;  
}


/*********************************************************** 
* CMS SORTABLE CSS
************************************************************/ 
.cms-sortable-list-simple
{
}

.cms-sortable-list-simple li
{
    padding:8px 5px 8px 10px;
    background-color:#F2F2F2;
    border:1px solid #DDD; 
    display:block;
    margin-bottom:3px;
    cursor: move;   
    
    -moz-border-radius:3px;
    border-radius:3px;     
}

.cms-sortable-list-simple li:hover
{
    font-weight:bold;
    background-color:#DDDECA;
} 

/*********************************************************** 
* CMS AJAX IN PROGRESS CSS
************************************************************/ 
.cms-ajax-progress
{
    position:fixed;
    right:20px;
    bottom:20px;
    padding:5px;
    background-color:#EEEEEE;
    z-index:100;        
    border:1px solid #CCC;
    font:11px/11px Helvetica;
    color:#222;
    text-align:center;
}

.cms-ajax-progress .image
{
    background-image:url(../img/ajax.gif);
    width:126px;
    height:22px;
    margin-bottom:2px;
}

/*********************************************************** 
* CMS SORTABLE CSS
************************************************************/ 

a.cms-gd-button {
    background: transparent url('../img/btn/green.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 12px; /* sliding doors padding */
    text-decoration: none;
}

a.cms-gd-button span {
    background: transparent url('../img/btn/green.png') no-repeat top left;
    display: block;
    line-height: 14px;
    padding: 5px 0px 5px 12px;
}

a.cms-gd-button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.cms-gd-button:active span {
    background-position: bottom left;
    padding: 6px 0px 4px 12px; /* push text down 1px */
}

/*********************************************************** 
* CMS CSS
************************************************************/ 

.cms-submit-delete
{
    cursor:pointer;
    color:#660000 !important;
    padding-left:5px;
    padding-right:5px;    
} 

.cms-clear
{
    clear: both;
    height:1px;
}

.cms-hidden
{
    display:none;
}

.cms-submit
{
    cursor:pointer;
    background-color:#FFF !important;
    padding-left:5px;
    padding-right:5px;
    
/*    background-image:url(../img/disks.png);
    background-repeat: no-repeat;
    background-position: right center;   */  
} 

.cms-upload
{
    cursor:pointer;
    color:#000066 !important;
    padding-left:5px;
    padding-right:5px;     
}

.cms-content-wrapper
{
    background-color:#F6F6F6;
    width:900px;
    margin-bottom:120px;
    padding:10px 20px 20px 20px;
    
    -moz-box-shadow: 0px 3px 5px 0px #CCC;
    -webkit-box-shadow: 0px 3px 5px 0px#CCC;
    box-shadow: 0px 3px 5px 0px #CCC;
    position: relative;    
}

.cms-span-10
{
    font-size:10px !important;
    line-height:16px !important;
    color:#666666 !important;
}

.cms-span-10-normal
{
    font-size:10px !important;
    line-height:16px !important;
    color:#666666 !important;
    font-weight:normal !important; 
}

.cms-top-link
{
    font-family:Helvetica;
    float:right;
    font-size:10px;
    position:relative;
    top:16px;
    text-decoration:none;    
}

.cms-top-link:hover
{
    text-decoration:none;
}   

.cms-h6
{
    font:bold 18px/11px Helvetica;
    margin-top:5px;
    margin-bottom:5px;
    color:#333;
   
    padding:12px 0px 4px 30px;
    background-image:url(../img/tools24.png);
    background-repeat: no-repeat;
    background-position: left bottom;    
}

.cms-h6s
{
    font:bold 10px/14px Verdana;
    margin-top:0px;
    margin-bottom:5px !important;
    color:#444444;
}

.cms-bg-center
{
    background-repeat: no-repeat;
    background-position: center center;
}

form.cms-hover
{
    background-color:#CCCCCC;
}

.cms-hr
{
    margin:0px;
    padding:0px;
    border:none;
    height:0px;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #FFFFFF;
    margin-bottom:5px;
    display:block;
    background-color:transparent; 
}

.cms-bar
{
    height:16px;
    background-color:#DDD;
    background-image:url(../img/tools.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.cms-section-titlebar
{
    padding-left:16px;
    background-color:#DDD;
    background-image:url(../img/tools.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.cms-table
{
    background-color:#000000 !important;    
}

.cms-saved-bar
{
    position:fixed;
    right:20px;
    top:20px;
    background-color:#FFFBCC;  
    border:1px solid #E6DB55;
    padding:6px 15px 6px 15px;
    color:#222; 
    margin-bottom:0px;   
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px; 
    opacity:0.0;
    filter:alpha(opacity=0); 
    z-index:100; 
    font: normal 12px/12px Helvetica; 
    text-transform: uppercase;
}

.cms-info-bar
{
    background-color:#FFFBCC;  
    border:1px solid #E6DB55;
    padding:3px 5px 3px 5px;
    color:#555555; 
    margin-bottom:0px;   
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-size:10px; 
}

.cms-meta-bold
{
    font-size:10px;
    line-height:10px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:4px;    
}

.cms-meta-color
{
    color:#226699;    
}

.cms-meta-normal
{
    font-size:10px !important;
    line-height:16px !important;
    color:#666666 !important;
    font-weight:normal !important; 
}

.cms-meta-light
{
    font-size:10px !important;
    line-height:16px !important;
    color:#666666 !important;
    font-weight:normal !important;     
}

.cms-custom-field-panel
{
    -moz-border-radius:8px;
    -webkit-border-radius:5px;
    border-radius:6px;
    background-color:#EEE;
    padding:10px;
    border:1px solid #CCC;
    margin-top:15px;
}

/*********************************************************** 
* CMS TOGLE TABS CSS
************************************************************/ 

.cms-toggle
{
    margin-bottom:5px;       
    position: relative;
}

.cms-toggle .cms-toggle-icon-open
{
     position: absolute;
     right:10px;
     top:8px;
     height:16px;
     width:16px;
     background-image:url(../img/add.png);
     background-position: left top;
}

.cms-toggle .cms-toggle-icon-close
{
     position: absolute;
     right:10px;
     top:8px;
     height:16px;
     width:16px;
     background-image:url(../img/add-close.png);
     background-position: left top;
}

.cms-toggle .cms-toggle-triger
{
    border:1px solid #CECECE;
    padding:8px 4px 8px 8px;
    margin:0px;
    cursor:pointer;
    background-color:#EEEEEE;             
}

.cms-toggle .cms-toggle-triger:hover  
{
    background-color:#DDDDDD;    
}

.cms-toggle .cms-toggle-content
{
    display:none;
    padding:10px;
}

/*********************************************************** 
* CMS HELP CSS
************************************************************/  

.cms-help-title
{
    font-weight:bold;
}

.cms-help-child-icon
{
    background-image:url(../img/child.png);
    background-position:left top;
    display:inline-block;
    width:16px;
    height:16px;
    position: relative;
    top:3px;
}

.cms-help-exclamation-icon
{
    background-image:url(../img/exclamation.png);
    background-position:left top;
    display:inline-block;
    width:16px;
    height:16px;
    position: relative;
    top:3px;
}

.cms-help-desc
{
    margin-top:5px;
    font-size:11px;
}

.cms-help-param-table
{
    margin-top:5px;
}

.cms-help-param-table td
{                 
    padding:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.cms-help-param-table td.desc
{
    font-size:11px;
} 
    
.cms-help-param-table td.param
{
    font:normal 12px Courier New;
}

/*********************************************************** 
* CMS TABS CSS
************************************************************/  

#cms-tabs
{   
    position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */ 
    padding:0px; 
    zoom: 1;
    margin-top:15px;
    margin-left:0px;
    margin-bottom:0px;         
}


#cms-tabs ul li
{
    list-style: none; 
    float: left; 
    position: relative; 
    top: 1px; 
    margin:0px;  
    padding:0px; 
    white-space: nowrap;
    border:1px solid transparent;
}

#cms-tabs ul li a 
{ 
    float: left; 
    padding:4px 8px 4px 8px; 
    text-decoration: none;
    text-transform: none;
    cursor:pointer;  
     
}

#cms-tabs ul li.cms-tabs-selected 
{ 
    margin-bottom: 0; 
    padding-bottom: 0px; 
    background-color:#6D6D6D; 
    border:1px solid #888;
    
    
    border-top-left-radius:6px;
   -moz-border-radius-topleft:6px;    

   border-top-right-radius:6px;
   -moz-border-radius-topright:6px;      
}

#cms-tabs ul li.cms-tabs-selected a
{ 
    cursor:text;
    color:#FFFFFF; 
}
