/*
Theme Name: Modern Elegance Wordpress Theme
Theme URI: http://themeforest.net/user/DigitalCavalry
Description: Wordpress Business, Portfolio, Personal, Blog Theme
Version: 1.1
Author: Digital Cavalry
Tags: clean, modern, classic, elegant
*/

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}