<div class="cms-box-page">
    <p class="page-title">Modern Elegance - Insert image</p>
    <p>Here you can setup and insert image code.</p>
    
    <div class="half-page-left">
        <div class="label">Image URL:</div>
        <p><input class="text-80p" type="text" value="" name="image_url" id="image_url_dc_box_field" /> 
        <input class="cms-upload upload_image_button" type="button" value="Select.." name="image_url_dc_box_field" /></p>

        <div class="label">Image position:</div>
        <p>
            <input type="radio" name="img_align" value="left" checked="checked" /> Left <input type="radio" name="img_align" value="center" /> Center <input type="radio" name="img_align" value="right" /> Right
        </p>     

        <div class="label">Image description:</div>
        <p>
            <input class="text-full" type="text" value="" name="image_desc" />
        </p>

        <div class="label">Image description align:</div>
        <p>
            <input type="radio" name="desc_align" value="left" checked="checked" /> Left <input type="radio" name="desc_align" value="center" /> Center <input type="radio" name="desc_align" value="right" /> Right
        </p>    

        <div class="label">Image size:</div> 
        <p><input type="text" class="text60" name="image_w" value="100" /> x <input type="text" class="text60" name="image_h" value="100" /> Image width and height</p>

        <div class="label">Image margins:</div> 
        <p class="desc">Use only integer values.</p>
        <p>
           <input type="text" class="text40" name="mtop" value="0" /> Top<br />  
           <input type="text" class="text40" name="mright" value="0" /> Right<br /> 
           <input type="text" class="text40" name="mbottom" value="0" /> Bottom<br />
           <input type="text" class="text40" name="mleft" value="0" /> Left</p>    

        <div class="label">Optional name for images group when lightbox mode is used:</div>
        <p>
            <input class="text120" type="text" value="" name="group" /> 
        </p>      
    </div>
    
    <div class="half-page-right">  
    
        <div class="label">URL link:</div>
        <p>
            <input class="text-full" type="text" value="" name="link" />
        </p>  
        
        <div class="label">Link target:</div>
        <p>
            <input type="radio" name="target" value="_self" checked="checked" /> Same window/tab<br /> 
            <input type="radio" name="target" value="_blank" /> New window/tab
        </p>           
        
        <div class="label">Name for link in description:</div>
        <p>
            <input class="text-120" type="text" value="View more" name="viewmore" />
        </p>             
    
        <div class="label">Other settings:</div>
        <p>
        <input type="checkbox" checked="checked" name="image_async" /> Asynchronous loading<br />
        <input type="checkbox" checked="checked" name="image_tt" /> Change size with timthumb<br />
        <input type="checkbox" checked="checked" name="image_lb" /> Display image in lightbox<br />
        <input type="checkbox" checked="checked" name="as_shortcode" /> Insert as shortcode (if not checked HTML code will be generated)<br /> 
        <input type="checkbox" name="image_as_link" /> Display image as link<br />
        <input type="checkbox" name="desc_as_link" /> Display link in description<br />
        <input type="checkbox" name="remove_border" /> Remove image border<br />
        <input type="checkbox" name="remove_padding" /> Remove image border padding<br />  
        </p>     
    </div>
    
    <div class="clear"></div>    
    <p class="buttons-panel">    
        <a class="cancel-btn" href="#" onclick="if(confirm('Close window?')) { TINY.box.hide(); } ">Cancel</a>
        <a class="insert-btn" href="#" >Insert</a> 
    </p>
</div>
