<div class="cms-box-page">
    <p class="page-title">Modern Elegance - Theme shortcodes</p>
    <p>Here you can setup and insert theme shortcodes.</p>
    <div class="label">Select shortcode:</div>
    <p>
        <select class="select-full" name="shortcode">
            <optgroup label="Standard"> 
                <option value="dcs_head">dcs_head - standard heading with bottom line</option>
                <option value="dcs_btn">dcs_btn - button link</option>                 
                <option value="dcs_btn_fullwidth">dcs_btn_fullwidth - full width button link</option>
                <option value="dcs_hidden">dcs_hidden - block with hidden content opened after click</option>
                <option value="dcs_span">dcs_span - can be used to color text inside paragraph</option>  
                <option value="dcs_highlight">dcs_highlight - can be used to highlight text inside paragraph</option>
                <option value="dcs_empty">dcs_empty - created empty block with given height and clear both</option> 
                <option value="dcs_clear">dcs_clear - work identical like dcs_empty shortoce</option>                
                <option value="dcs_top">dcs_top - horizontal separator with top anchor</option>
                <option value="dcs_fancy_header">dcs_fancy_header - fancy header for creating some text sections</option>
                <option value="dcs_small_block">dcs_small_block - configurable text block</option>
                <option value="dcs_lb_link">dcs_lb_link - lightbox link in text to image, youtube, vimeo</option>
                <option value="dcs_lb_ngg">dcs_lb_ngg - lightbox link to single NextGen Gallery image</option>
                <option value="dcs_blockquote">dcs_blockquote - standard blockquote which can be bit configured</option>
                <option value="dcs_ul_list">dcs_ul_list - unordered list</option>                
                <option value="dcs_box">dcs_box - configurable text box</option>
                <option value="dcs_note">dcs_note - note text block</option>
                <option value="dcs_postbox">dcs_postbox - box for showing other posts in post or page content</option> 
                <option value="dcs_pagebox">dcs_pagebox - box for showing other page in post or page content</option>                
            </optgroup> 
            <optgroup label="Advanced">
            <!--    <option value="dcs_story">dcs_story - story with slides</option> -->
                <option value="dcs_chain_gallery">dcs_chain_gallery - NGG chain gallery/slider</option>
                <option value="dcs_simple_gallery_ngg">dcs_simple_gallery_ngg - NGG simple gallery with thumbs inside slider</option>                
                <option value="dcs_simple_gallery_thumbs_ngg">dcs_simple_gallery_thumbs_ngg - NGG simple gallery with thumbs outside slider</option>
                <option value="dcs_ngg">dcs_ngg - NGG thumbs</option> 
                <option value="dcs_ngg_single">dcs_ngg_single - NGG thumbs from pictures ID list</option>
                <option value="dcs_ngg_last">dcs_ngg_last - display last N images from NGG as thumbs</option>
                <option value="dcs_ngg_random">dcs_ngg_random - random images from whole NGG or from only one selected gallery</option>                      
            </optgroup>                  
            <optgroup label="Columns">                      
                <option value="dcs_column">dcs_column - universal configurable column</option>
                <option value="dcs_one_half">dcs_one_half</option> 
                <option value="dcs_one_half_last">dcs_one_half_last</option>                                                                
                <option value="dcs_one_third">dcs_one_third</option> 
                <option value="dcs_one_third_last">dcs_one_third_last</option>
                <option value="dcs_two_third">dcs_two_third</option> 
                <option value="dcs_two_third_last">dcs_two_third_last</option> 
                <option value="dcs_one_fourth">dcs_one_fourth</option> 
                <option value="dcs_one_fourth_last">dcs_one_fourth_last</option> 
                <option value="dcs_three_fourth">dcs_three_fourth</option> 
                <option value="dcs_three_fourth_last">dcs_three_fourth_last</option>                  
            </optgroup> 
        </select>
    </p>     
                
    <!--dcs_head-->
    <div id="panel-dcs_head" class="panel">
        <form>
        <div class="label">Heading text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="666666" name="color" /> Text color</p>
        <div class="label">Top margin in pixels:</div>
        <p><input type="text" class="text80" value="0" name="topmargin" /> Top margin</p>
        </form> 
    </div>
    
    <!--dcs_btn-->
    <div id="panel-dcs_btn" class="panel">
        <form>
        <div class="label">Button name:</div>
        <p><input type="text" class="text120" value="Button Name" name="name" /></p> 
        <div class="label">Button destination URL address:</div>
        <p><input type="text" class="text-full" value="#" name="url" /></p>
        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="666666" name="color" /> Text color</p>   
        <div class="label">Text hover color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="000000" name="hcolor" /> Text hover color</p>                
        </form> 
    </div>

    <!--dcs_btn_fullwidth-->
    <div id="panel-dcs_btn_fullwidth" class="panel">
        <form>
        <div class="label">Button name:</div>
        <p><input type="text" class="text120" value="Button Name" name="name" /></p> 
        <div class="label">Button destination URL address:</div>
        <p><input type="text" class="text-full" value="#" name="url" /></p>
        </form> 
    </div>    
    
    <!--dcs_story-->
<!--    <div id="panel-dcs_story" class="panel">
        <form>
        <div class="half-page-left">
        <div class="label">Header name:</div>
        <p class="desc">Name dispayed on header, if empty header will be not displayed.</p>  
        <p><input type="text" class="text-full" value="Header name" name="name" /></p>  
        
        <div class="label">Slider width and height:</div>
        <p><input type="text" class="text60" value="620" name="width" /> x <input type="text" class="text60" value="300" name="height" /> Width x Height in pixels</p>                  
        
        <div class="label">Slides ID list:</div>
        <p class="desc">Comma separated story custom posts ID.</p>  
        <p><input type="text" class="text-full" value="" name="list" /></p>          
        
        <div class="label">URL link:</div>
        <p class="desc">Optional title link for all slides.</p> 
        <p>
            <input class="text-full" type="text" value="" name="link" />
        </p>  
        
        <div class="label">Link target:</div>
        <p>
            <input type="radio" name="target" value="_self" checked="checked" /> Same window/tab<br /> 
            <input type="radio" name="target" value="_blank" /> New window/tab
        </p>         
        
        </div>
        
        <div class="half-page-right">
            <div class="label">Margins:</div>
            <p class="desc">You can use integer values and <span class="highlight">auto</span> value. The auto value can be used with width to center horizontally slider on page.</p>  
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="auto" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="auto" /> Left</p>          
        
            <div class="label">Floating:</div>
            <p class="desc">Use left, right or none value.</p> 
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="right" /> Right <input type="radio" name="float" value="none" checked="checked" /> None</p>           
        
            <div class="label">Other settings:</div>
            <p><input type="checkbox" name="showtitle" checked="checked" /> Show title<br /> 
            <input type="checkbox" name="showdesc" checked="checked" /> Show description<br />
            <input type="checkbox" name="fit" checked="checked" /> Fit images to slider window<br />
            <input type="checkbox" name="overwrite" /> Overwrite slides invidaul links<br />  
            <input type="checkbox" name="group" /> Group<br /> 
            </p>  
        </div> 
        
        <div class="clear"></div>
        
        </form>                
    </div>     
-->    
    <!--dcs_hidden-->
    <div id="panel-dcs_hidden" class="panel">
        <form>
        <div class="label">Text for title:</div>
        <p><input type="text" class="text-full" value="" name="title" /></p>
        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="555555" name="color" /> Text color</p>
        
        <div class="label">Container margins:</div>
        <p class="desc">Use only integer values.</p> 
        <p>Top <input type="text" class="text40" name="mtop" value="0" /> Right <input type="text" class="text40" name="mright" value="0" /> Bottom 
        <input type="text" class="text40" name="mbottom" value="15" /> Left <input type="text" class="text40" name="mleft" value="0" /></p>        
        
        <div class="label">Other settings:</div>
        <p><input type="checkbox" name="execute" checked="checked" /> Execute inside shortcodes</p>
        </form>                
    </div>

    <!--dcs_span-->
    <div id="panel-dcs_span" class="panel">
        <form>
        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="000000" name="color" /> Text color</p>      
        <div class="label">Background color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>
        <div class="label">Other settings:</div>
        <p><input type="checkbox" name="use_bgcolor" /> Use background color<br /></p>
        </form>     
    </div>

    <!--dcs_highlight-->
    <div id="panel-dcs_highlight" class="panel">
        <form>
        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="000000" name="color" /> Text color</p>
        <div class="label">Other settings:</div>
        <p><input type="checkbox" name="use_color" /> Use text color<br /></p>
        </form>                  
    </div>
    
    <!--dcs_empty-->
    <div id="panel-dcs_empty" class="panel">
        <form>
        <div class="label">Block height in pixels:</div>
        <p><input type="text" class="text60" value="1" name="height" /></p>
        </form>    
    </div>

    <!--dcs_clear-->
    <div id="panel-dcs_clear" class="panel">
        <form>
        <div class="label">Block height in pixels:</div>
        <p><input type="text" class="text60" value="1" name="height" /></p>
        </form>    
    </div>
    
    <!--dcs_top-->
    <div id="panel-dcs_top" class="panel">
        <form>
        <div class="label">Top padding in pixels:</div>
        <p><input type="text" class="text60" value="0" name="top" /></p>    
        <div class="label">Bottom padding in pixels:</div>
        <p><input type="text" class="text60" value="15" name="bottom" /></p>
        </form>
    </div>   
    
    <!--dcs_postbox-->
    <div id="panel-dcs_postbox" class="panel">
        <form>
        <div class="half-page-left">
            <div class="label">Display type:</div>
            <p><select name="type">
                <option value="small-190">Small - 190 px width</option>
                <option value="medium-225">Medium - 225 px width</option>
                <option value="large-300">Large - 300 px width</option>
            </select>
            </p>    
            
            <div class="label">Post ID to display:</div>
            <p class="desc">Must be set to valid value.</p>
            <p><input type="text" class="text60" value="0" name="id" /></p>            
            
            <div class="label">Optional description:</div>
            <p class="desc">If empty, post <span class="highlight">excerpt</span> will be taken. If excerpt is not available, <span class="highlight">post content</span> will be taken.</p>
            <p><input type="text" class="text-full" value="" name="desc" /></p>    

            <div class="label">Number of words to display in post description:</div>
            <p><input type="text" class="text60" value="12" name="words" /></p>  
          
            <div class="label">Image URL:</div>
            <p class="desc">Optional, can be used to replace original image assocaited with post.</p>
            <p><input type="text" class="text-full" value="" name="img" /></p>                
        </div>
        
        <div class="half-page-right">
            <div class="label">Margins:</div>
            <p class="desc">You can use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="0" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="10" /> Bottom<br /><input type="text" class="text40" name="mleft" value="10" /> Left</p>          
        
            <div class="label">Floating:</div>
            <p class="desc">Only left or right option.</p> 
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="right" checked="checked" /> Right</p>           
        
            <div class="label">Other settings:</div>
            <p><input type="checkbox" name="lightbox" /> Use lightbox<br />
            </p>  
        </div> 
        
        <div class="clear"></div>
        
        </form>                
    </div> 
    
    <!--dcs_pagebox-->
    <div id="panel-dcs_pagebox" class="panel">
        <form>
        <div class="half-page-left">
            <div class="label">Display type:</div>
            <p><select name="type">
                <option value="small-190">Small - 190 px width</option>
                <option value="medium-225">Medium - 225 px width</option>
                <option value="large-300">Large - 300 px width</option>
            </select>
            </p>    
            
            <div class="label">Page ID to display:</div>
            <p class="desc">Must be set to valid value.</p>
            <p><input type="text" class="text60" value="0" name="id" /></p>            
            
            <div class="label">Optional description:</div>
            <p class="desc">If empty, page <span class="highlight">excerpt</span> will be taken. If excerpt is not available, <span class="highlight">page content</span> will be taken.</p>
            <p><input type="text" class="text-full" value="" name="desc" /></p>    

            <div class="label">Number of words to display in page description:</div>
            <p><input type="text" class="text60" value="12" name="words" /></p>  
          
            <div class="label">Image URL:</div>
            <p class="desc">Optional, can be used to replace original image assocaited with page.</p>
            <p><input type="text" class="text-full" value="" name="img" /></p>                
        </div>
        
        <div class="half-page-right">
            <div class="label">Margins:</div>
            <p class="desc">You can use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="0" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="10" /> Bottom<br /><input type="text" class="text40" name="mleft" value="10" /> Left</p>          
        
            <div class="label">Floating:</div>
            <p class="desc">Only left or right option.</p> 
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="right" checked="checked" /> Right</p>           
        
            <div class="label">Other settings:</div>
            <p><input type="checkbox" name="lightbox" /> Use lightbox<br />
            </p>  
        </div> 
        
        <div class="clear"></div>
        
        </form>                
    </div>               
                                                         
    <!--dcs_fancy_header-->
    <div id="panel-dcs_fancy_header" class="panel">
        <form>
        <div class="label">Container margins:</div>
        <p class="desc">Use only integer values.</p> 
        <p>Top <input type="text" class="text40" name="mtop" value="0" /> Right <input type="text" class="text40" name="mright" value="0" /> Bottom 
        <input type="text" class="text40" name="mbottom" value="10" /> Left <input type="text" class="text40" name="mleft" value="0" /></p>
        
        <div class="label">Inner text block margins:</div>
        <p class="desc">You can use integer values and <span class="highlight">auto</span> value. The auto value can be used with width to center horizontally header on page.</p> 
        <p>Top <input type="text" class="text40" name="smtop" value="0" /> Right <input type="text" class="text40" name="smright" value="auto" /> Bottom 
        <input type="text" class="text40" name="smbottom" value="0" /> Left <input type="text" class="text40" name="smleft" value="auto" /></p> 
        
        <div class="label">Header width in pixels:</div>
        <p><input type="text" class="text60" value="0" name="width" /></p>
        
        <div class="label">Header align:</div>
        <p class="desc">Will not work when width is grater when zero.</p> 
        <p><input type="radio" name="align" value="left" checked="checked" /> Left <input type="radio" name="align" value="center" /> Center 
        <input type="radio" name="align" value="right" /> Right</p>                                
        
        <div class="label">Inner block text align:</div>
        <p class="desc">Works only when width is grater when zero.</p> 
        <p><input type="radio" name="salign" value="left" checked="checked" /> Left <input type="radio" name="salign" value="center" /> Center 
        <input type="radio" name="salign" value="right" /> Right</p>
        
        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="3399CC" name="color" /> Text color</p>
        
        <div class="label">Other settings:</div>
        <p><input type="checkbox" name="use_color" /> Use text color<br /></p>
        </form>                                                                                    
    </div>  

    <!--dcs_small_block-->
    <div id="panel-dcs_small_block" class="panel">
        <form>
        <div class="half-page-left">
            <div class="label">Text color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="555555" name="color" /> Text color</p>
            
            <div class="label">Container padding:</div>
            <p class="desc">Use only integer values.</p> 
            <p>Top <input type="text" class="text40" name="ptop" value="0" /> Right <input type="text" class="text40" name="pright" value="0" /> Bottom 
            <input type="text" class="text40" name="pbottom" value="0" /> Left <input type="text" class="text40" name="pleft" value="0" /></p>        
            
            <div class="label">Text align:</div>
            <p><input type="radio" name="align" value="left" checked="checked" /> Left <input type="radio" name="align" value="center" /> Center 
            <input type="radio" name="align" value="right" /> Right</p>            
            
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="DDDDDD" name="bcolor" /> Border color</p>
            
        </div>  
        <div class="half-page-right">
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>        
        
            <div class="label">Font size in pixels:</div>
            <p><select class="select80" name="fsize">
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11" selected="selected">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select></p>
            
            <div class="label">Font line height in pixels:</div>
            <p><select class="select80" name="fheight">
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14" selected="selected">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
            </select></p>             
            
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="use_color" /> Use text color<br />
                <input type="checkbox" name="use_bgcolor" /> Use background color<br />
                <input type="checkbox" name="border" /> Show border<br />
            </p>            
                     
        </div>
        <div class="clear"></div>
        </form>                                                                                    
    </div>                   

    <!--dcs_lb_link-->
    <div id="panel-dcs_lb_link" class="panel">
        <form>
        <div class="label">Lightbox URL:</div>
        <p class="desc">For Vimeo video use URL in this format <span class="highlight">http://vimeo.com/13884675</span> and if you want change width of the video
        just add parameter to URL <span class="highlight">http://vimeo.com/13884675&amp;width=800</span>. For YouTube videos use this format 
        <span class="highlight">http://www.youtube.com/watch?v=n0FBKkGI254</span> and similar to Vimeo if you want change video width just add width parameter to URL
        <span class="highlight">http://www.youtube.com/watch?v=n0FBKkGI254&amp;width=600</span>.</p>
        <p><input type="text" class="text-full" value="" name="url" /></p>  

        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="000000" name="color" /> Text color</p>
        
        <div class="label">Group name:</div>
        <p><input type="text" class="text120" value="" name="group" /></p>        

        <div class="label">Title:</div>
        <p><input type="text" class="text-full" value="" name="title" /></p>  
        
        <div class="label">Other settings:</div>
        <p>
            <input type="checkbox" name="use_color" /> Use text color<br />
            <input type="checkbox" name="use_group" /> Use group<br /> 
        </p>
        </form>              
    </div>   
        
    <!--dcs_lb_ngg-->
    <div id="panel-dcs_lb_ngg" class="panel">
        <form>
        <div class="label">Picture ID from NextGen Gallery:</div>
        <p><input type="text" class="text80" value="" name="id" /></p>     

        <div class="label">Text color:</div>
        <p><input type="text" class="colorpicker {hash:true} text80" value="000000" name="color" /> Text color</p>
        
        <div class="label">Group name:</div>
        <p><input type="text" class="text120" value="" name="group" /></p>             
        
        <div class="label">Other settings:</div>
        <p>
            <input type="checkbox" name="use_color" /> Use text color<br />
            <input type="checkbox" name="use_group" /> Use group<br /> 
        </p>
        </form>          
    </div>  
    
    <!--dcs_blockquote-->
    <div id="panel-dcs_blockquote" class="panel">
        <form>
        <div class="half-page-left">
            <div class="label">Container margins:</div>
            <p class="desc">You can use integer values and <span class="highlight">auto</span> value. The auto value can be used with width to center horizontally blockquote.</p> 
            <p>Top <input type="text" class="text40" name="mtop" value="0" /> Right <input type="text" class="text40" name="mright" value="0" /> Bottom 
            <input type="text" class="text40" name="mbottom" value="15" /> Left <input type="text" class="text40" name="mleft" value="0" /></p>    
         
            <div class="label">Floating:</div>
            <p class="desc">Can be used with width parameter to positioning blockquote.</p> 
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="none" checked="checked" /> None 
            <input type="radio" name="float" value="right" /> Right</p>       
         
            <div class="label">Text color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="999999" name="color" /> Text color</p>               
            
            <div class="label">Width:</div>
            <p><input type="text" class="text80" value="0" name="width" /></p>           
        </div>
        
        <div class="half-page-right"> 
            <div class="label">Text align:</div>
            <p><input type="radio" name="align" value="left" checked="checked" /> Left <input type="radio" name="align" value="center" /> Center 
            <input type="radio" name="align" value="right" /> Right</p>          

            <div class="label">Quote author:</div>
            <p><input type="text" class="text-full" value="" name="author" /></p>   

            <div class="label">Author title:</div>
            <p><input type="text" class="text-full" value="" name="title" /></p>
        
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="use_color" /> Use text color<br />
                <input type="checkbox" name="show_border" checked="checked" /> Show left border<br /> 
            </p>          
        </div>
        <div class="clear"></div>
        </form>
    </div> 
    
    <!--dcs_ul_list-->
    <div id="panel-dcs_ul_list" class="panel">
        <form>
        <div class="label">Select list type:</div>
        <p>
            <select class="select320" name="type">
                <option value="arrow">Arrow</option>
                <option value="accept">Accept</option>
                <option value="exception">Exception</option>
                <option value="dot-red">Dot red</option>
                <option value="dot-grey">Dot grey</option>
                <option value="dot-black">Dot black</option>
                <option value="dot-green">Dot green</option> 
                <option value="dot-blue">Dot blue</option> 
                <option value="dot-orange">Dot orange</option> 
                <option value="squ-red">Square red</option>
                <option value="squ-grey">Square grey</option>
                <option value="squ-black">Square black</option>
                <option value="squ-green">Square green</option>
                <option value="squ-blue">Square blue</option>
                <option value="squ-orange">Square orange</option>                    
            </select>                           
        </p>
        </form>                               
    </div> 
            
    <!--dcs_one_half-->
    <div id="panel-dcs_one_half" class="panel">                         
        <form>
        <p class="desc">This column have 460 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>     

    <!--dcs_one_half_last-->
    <div id="panel-dcs_one_half_last" class="panel">                         
        <form>
        <p class="desc">This column have 460 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>  
    
    <!--dcs_one_third-->
    <div id="panel-dcs_one_third" class="panel">
        <form>
        <p class="desc">This column have 294 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>                         
    </div>     

    <!--dcs_one_third_last-->
    <div id="panel-dcs_one_third_last" class="panel">                         
        <form>
        <p class="desc">This column have 294 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>     
      
    <!--dcs_two_third-->
    <div id="panel-dcs_two_third" class="panel">                         
        <form>
        <p class="desc">This column have 588 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>          
         
    <!--dcs_two_third_last-->
    <div id="panel-dcs_two_third_last" class="panel">                         
        <form>
        <p class="desc">This column have 588 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>  
    
    <!--dcs_one_fourth-->
    <div id="panel-dcs_one_fourth" class="panel">                         
        <form>
        <p class="desc">This column have 210 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>     

    <!--dcs_one_fourth_last-->
    <div id="panel-dcs_one_fourth_last" class="panel">                        
        <form>
        <p class="desc">This column have 210 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>     
    </div>  

    <!--dcs_three_fourth-->
    <div id="panel-dcs_three_fourth" class="panel">
        <form>
        <p class="desc">This column have 710 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>                          
    </div>     

    <!--dcs_three_fourth_last-->
    <div id="panel-dcs_three_fourth_last" class="panel">
        <form>
        <p class="desc">This column have 710 pixels width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        </form>                        
    </div>     
            
    <!--dcs_column-->
    <div id="panel-dcs_column" class="panel">
        <form>
        <p class="desc">This column have custom width (<span class="highlight">full width</span> page have 960 pixels width, content area in <span class="highlight">sidebar page</span> have 620 pixels width).</p>
        <div class="half-page-left">      
            <div class="label">Width:</div>
            <p><input type="text" class="text80" value="200" name="width" /></p>

            <div class="label">Margin right:</div>
            <p><input type="text" class="text80" value="40" name="mright" /></p>
            
            <div class="label">Margin left:</div>
            <p><input type="text" class="text80" value="0" name="mleft" /></p> 
            
            <div class="label">Floating:</div>
            <p><input type="radio" name="float" value="left" checked="checked" /> Left 
            <input type="radio" name="float" value="right" /> Right</p> 
            
            <div class="label">Column padding:</div>
            <p class="desc">Use only integer values.</p> 
            <p>Top <input type="text" class="text40" name="ptop" value="0" /> Right <input type="text" class="text40" name="pright" value="0" /> Bottom 
            <input type="text" class="text40" name="pbottom" value="0" /> Left <input type="text" class="text40" name="pleft" value="0" /></p>  
            
            <div class="label">Text align:</div>
            <p><input type="radio" name="align" value="left" checked="checked" /> Left <input type="radio" name="align" value="center" /> Center 
            <input type="radio" name="align" value="right" /> Right</p>                                                     
        </div>

        <div class="half-page-right">                
            <div class="label">Text color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="000000" name="color" /> Text color</p>   
            
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>                       

            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="EEEEEE" name="bcolor" /> Border color</p> 
        
            <div class="label">Border width:</div>
            <p><input type="text" class="text80" value="1" name="bwidth" /></p>                       
        
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="use_color" /> Use text color<br />
                <input type="checkbox" name="use_bgcolor" /> Use background color<br />
                <input type="checkbox" name="show_border" /> Show border<br /> 
            </p>          
        </div>
        <div class="clear"></div>
        </form>                                          
    </div>  

    <!--dcs_note-->
    <div id="panel-dcs_note" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Text color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="606060" name="color" /> Text color</p>  
                        
            <div class="label">Text align:</div>
            <p><input type="radio" name="align" value="left" checked="checked" /> Left <input type="radio" name="align" value="center" /> Center 
            <input type="radio" name="align" value="right" /> Right</p>     
        </div>
        
        <div class="third-page-inside">
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFBCC" name="bgcolor" /> Background color</p>    
            
            <div class="label">Corner radius:</div>
            <p>
                <select class="select80" name="rounded">
                    <option value="0">0 pixels</option>
                    <option value="2">2 pixels</option>
                    <option value="3">3 pixels</option> 
                    <option value="4">4 pixels</option>
                    <option value="5">5 pixels</option> 
                    <option value="6">6 pixels</option> 
                    <option value="7">7 pixels</option> 
                    <option value="8">8 pixels</option> 
                    <option value="9">9 pixels</option> 
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option> 
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option> 
                    <option value="14">14 pixels</option>
                    <option value="15">15 pixels</option>                        
                </select>                           
            </p>                                     
        </div>
        
        <div class="third-page-right">
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="F1F1F1" name="bcolor" /> Border color</p>
            
            <div class="label">Other settings:</div>
            <p><input type="checkbox" name="execute" checked="checked" /> Execute inside shortcodes</p>                
        </div>
        <div class="clear"></div>
        </form>                 
    </div>
    
    <!--dcs_box-->
    <div id="panel-dcs_box" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Box width and height in pixels:</div>
            <p class="desc">Default full width and no height, for use please check valid box in <span class="highlight">Other settings</span> section.</p> 
            <p><input type="text" class="text80" value="200" name="width" /> x <input type="text" class="text80" value="200" name="height" /> Width x Height</p>                       
        
            <div class="label">Border width:</div>
            <p><input type="text" class="text80" value="1" name="bwidth" /> px</p>          
        
            <div class="label">Text color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="606060" name="color" /> Text color</p>  

            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="F1F1F1" name="bcolor" /> Border color</p>            

            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFBCC" name="bgcolor" /> Background color</p>    
                        
            <div class="label">Text align:</div>
            <p><input type="radio" name="align" value="left" checked="checked" /> Left <input type="radio" name="align" value="center" /> Center 
            <input type="radio" name="align" value="right" /> Right</p>  
            
            <div class="label">Floating:</div>
            <p class="desc">Can be used with width and height parameter to positioning box.</p> 
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="none" checked="checked" /> None 
            <input type="radio" name="float" value="right" /> Right</p>                  
        </div>
        
        <div class="third-page-inside">
            <div class="label">Margins:</div>
            <p class="desc">You can use integer values and <span class="highlight">auto</span> value. The auto value can be used with width to center horizontally box.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="0" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="0" /> Left</p>          
        
            <div class="label">Padding:</div>
            <p class="desc">Use only integer values.</p> 
            <p><input type="text" class="text40" name="ptop" value="0" /> Top<br /><input type="text" class="text40" name="pright" value="0" /> Right<br /> 
            <input type="text" class="text40" name="pbottom" value="0" /> Bottom<br /> <input type="text" class="text40" name="pleft" value="0" /> Left</p>  
            
            <div class="label">Corner radius:</div>
            <p>
                <select class="select160" name="rounded">
                    <option value="0">0 pixels</option>
                    <option value="2">2 pixels</option>
                    <option value="3">3 pixels</option> 
                    <option value="4">4 pixels</option>
                    <option value="5">5 pixels</option> 
                    <option value="6">6 pixels</option> 
                    <option value="7">7 pixels</option> 
                    <option value="8">8 pixels</option> 
                    <option value="9">9 pixels</option> 
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option> 
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option> 
                    <option value="14">14 pixels</option>
                    <option value="15">15 pixels</option>                        
                </select>                           
            </p>   
           
            <div class="label">Font size:</div>
            <p>
                <select class="select160" name="fsize">
                    <option value="default">Default</option>
                    <option value="9">9 pixels</option>
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option>
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option>
                    <option value="14">14 pixels</option> 
                    <option value="15">15 pixels</option> 
                    <option value="16">16 pixels</option> 
                    <option value="17">17 pixels</option> 
                    <option value="18">18 pixels</option>                       
                </select>                           
            </p>                                                            
        </div>
        
        <div class="third-page-right">
            <div class="label">Font:</div>
            <p>
                <select class="select160" name="font">                    
                    <option value="default">Default</option>
                    <option value="Arial">Arial</option>
                    <option value="Courier New">Courier New</option>
                    <option value="Georgia">Georgia</option> 
                    <option value="Helvetica">Helvetica</option>
                    <option value="Tahoma">Tahoma</option>
                    <option value="Trebuchet MS">Trebuchet</option>
                    <option value="Verdana">Verdana</option>                      
                </select>                           
            </p>          
        
            <div class="label">Background image URL:</div>
            <p><input type="text" class="text-full" value="" name="bg" /></p>     
            
            <div class="label">Background image position:</div>
            <p class="desc">You can use any CSS valid value for background positioning, for example <span class="highlight">top left</span> or <span class="highlight">0px 0px</span> if you want more accurate position.</p>  
            <p><input type="text" class="text-full" value="left top" name="bgpos" /></p>                 
            
            <div class="label">Background repeat mode:</div>
            <p>
                <select class="select160" name="bgrepeat">
                    <option value="no-repeat" selected="selected">no-repeat</option>
                    <option value="repeat-x">repeat-x</option>
                    <option value="repeat-y">repeat-y</option>
                    <option value="repeat">repeat</option>                   
                </select>                           
            </p>              
            
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="execute" checked="checked" /> Execute inside shortcodes<br />
                <input type="checkbox" name="uppercase" /> Transform text to uppercase<br />
                <input type="checkbox" name="use_color" /> Use text color<br />
                <input type="checkbox" name="use_bgcolor" /> Use background color<br />
                <input type="checkbox" name="show_border" /> Show border<br />
                <input type="checkbox" name="use_width" /> Use width<br />
                <input type="checkbox" name="use_height" /> Use height<br />
            </p>                
        </div>
        <div class="clear"></div>
        </form>                 
    </div>           
    
    <!--dcs_chain_gallery-->
    <div id="panel-dcs_chain_gallery" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Select NextGen Gallery:</div>
            <p><select class="select-full" name="ngg_list"></select></p>  

            <div class="label">Images ID list:</div>
            <p class="desc">NextGen Gallery comma separated images ID list.</p>
            <p><input type="text" class="text-full" value="" name="set" /></p>    
            
            <div class="label">Slider width and height in pixels:</div>
            <p><input type="text" class="text80" value="620" name="width" /> x <input type="text" class="text80" value="270" name="height" /> Width x Height</p>                       

            <div class="label">Thumbs width and height in pixels:</div>
            <p><input type="text" class="text80" value="50" name="tw" /> x <input type="text" class="text80" value="50" name="th" /> Width x Height</p>   
            
            <div class="label">Number of images do display:</div>
            <p class="desc">Must be greater when zero if random images are displayed.</p>
            <p><input type="text" class="text80" value="6" name="number" /></p>                
            
                        
        </div>
        
        <div class="third-page-inside">
            <div class="label">Transition mode:</div>
            <p>
                <select class="select160" name="trans">
                    <option value="none">None</option>
                    <option value="fade" selected="selected">Fade</option>
                    <option value="slide">Slide</option>                   
                </select>                           
            </p>   
            
            <div class="label">Title heading size:</div>
            <p>
                <select class="select160" name="size">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected="selected">3</option>
                    <option value="4">4</option>                   
                </select>                           
            </p> 
            
            <div class="label">Select page to link with slider:</div>
            <p><select class="select-full" name="page_list"></select></p>   
            
            <div class="label">Manually link:</div>
            <p><input type="text" class="text-full" value="" name="url" /></p>  
            
            <div class="label">Margins:</div>
            <p class="desc">Use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="0" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="0" /> Left</p>                                                            
        </div>
        
        <div class="third-page-right">
            <div class="label">Floating:</div>
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="none" checked="checked" /> None 
            <input type="radio" name="float" value="right" /> Right</p>          
        
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="3399CC" name="bcolor" /></p>           
        
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="random" /> Random images<br />
                <input type="checkbox" name="show_desc" checked="checked" /> Display image description<br /> 
                <input type="checkbox" name="show_title" /> Display image title<br />
                <input type="checkbox" name="autoplay" checked="checked" /> Slider autoplay<br /> 
            </p>            
        </div>        
        <div class="clear"></div>
        </form>   
    </div>               
    
    <!--dcs_simple_gallery_ngg-->
    <div id="panel-dcs_simple_gallery_ngg" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Select NextGen Gallery:</div>
            <p><select class="select-full" name="ngg_list"></select></p>  

            <div class="label">Slider width and height in pixels:</div>
            <p><input type="text" class="text80" value="620" name="width" /> x <input type="text" class="text80" value="300" name="height" /> Width x Height</p>                       

            <div class="label">Thumbs size:</div>
            <p class="desc">One size for width and height.</p> 
            <p><input type="text" class="text80" value="50" name="ts" /></p>   
                                    
            <div class="label">Number of images do display:</div>
            <p class="desc">Must be greater when zero if random images are displayed. Use zero if all images should be displayed. Slider have place <span class="highlight">only for some number of thumbs</span>, this how many thumbs will be visible is depended from thumbs size.</p>
            <p><input type="text" class="text80" value="6" name="number" /></p>                
            
            <div class="label">Slider description:</div>
            <p class="desc">This text will be displayed under slider.</p>
            <p><input type="text" class="text-full" value="" name="desc" /></p>               
        </div>
        
        <div class="third-page-inside">
            <div class="label">Transition mode:</div>
            <p>
                <select class="select160" name="trans">
                    <option value="none">None</option>
                    <option value="fade" selected="selected">Fade</option>
                    <option value="slide">Slide</option>                  
                </select>                           
            </p>   
        
            <div class="label">Thumbs bottom position:</div>
            <p><input type="text" class="text80" value="15" name="tb" /></p>           

            <div class="label">Thumbs top position:</div>
            <p><input type="text" class="text80" value="15" name="tt" /></p>   
        
            <div class="label">Floating:</div>
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="none" checked="checked" /> None 
            <input type="radio" name="float" value="right" /> Right</p>            
        
            <div class="label">Margins:</div>
            <p class="desc">You can use integer values and <span class="highlight">auto</span> value. The auto value can be used with width to center horizontally header on page.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="auto" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="auto" /> Left</p>                                                             
        </div>
        
        <div class="third-page-right">
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bcolor" /></p>           
        
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="random" checked="checked"/> Random images<br />
                <input type="checkbox" name="use_top" /> Use thumbs top position<br />
                <input type="checkbox" name="sdesc" /> Show image description<br /> 
                <input type="checkbox" name="stitle" /> Show image title<br /> 
            </p>        
       
        </div>        
        <div class="clear"></div>
        </form>   
    </div>     
    
    <!--dcs_simple_gallery_thumbs_ngg-->
    <div id="panel-dcs_simple_gallery_thumbs_ngg" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Select NextGen Gallery:</div>
            <p><select class="select-full" name="ngg_list"></select></p>  

            <div class="label">Slider width and height in pixels:</div>
            <p><input type="text" class="text80" value="620" name="width" /> x <input type="text" class="text80" value="300" name="height" /> Width x Height</p>                       

            <div class="label">Thumbs size:</div>
            <p class="desc">One size for width and height.</p> 
            <p><input type="text" class="text80" value="40" name="ts" /></p>   
                                    
            <div class="label">Number of images to display:</div>
            <p class="desc">Must be greater when zero if random images are displayed. Use zero if all images should be displayed.</p>
            <p><input type="text" class="text80" value="6" name="number" /></p>                
                       
        </div>
        
        <div class="third-page-inside">
            <div class="label">Slider description:</div>
            <p class="desc">This text will be displayed under slider.</p>
            <p><input type="text" class="text-full" value="" name="desc" /></p>      
   
            <div class="label">Transition mode:</div>
            <p>
                <select class="select160" name="trans">
                    <option value="none">None</option>
                    <option value="fade" selected="selected">Fade</option>
                    <option value="slide">Slide</option>                   
                </select>                           
            </p>           
        
            <div class="label">Floating:</div>
            <p><input type="radio" name="float" value="left" /> Left <input type="radio" name="float" value="none" checked="checked" /> None 
            <input type="radio" name="float" value="right" /> Right</p>                  
                                                           
        </div>
        
        <div class="third-page-right">
            <div class="label">Margins:</div>
            <p class="desc">You can use integer values and <span class="highlight">auto</span> value. The auto value can be used with width to center horizontally header on page.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="auto" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="auto" /> Left</p>  
        
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="999999" name="bcolor" /></p>           
        
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="random" checked="checked"/> Random images<br />
                <input type="checkbox" name="sdesc" /> Show image description<br /> 
                <input type="checkbox" name="stitle" /> Show image title<br />                 
            </p>        
       
        </div>        
        <div class="clear"></div>
        </form>   
    </div>  
    
    <!--dcs_ngg-->
    <div id="panel-dcs_ngg" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Select NextGen Gallery:</div>
            <p class="desc">Must be set to valid value.</p>
            <p><select class="select-full" name="ngg_list"></select></p>  
           
            <div class="label">Thumbs width and height in pixels:</div>
            <p><input type="text" class="text80" value="80" name="width" /> x <input type="text" class="text80" value="80" name="height" /> Width x Height</p>                       

            <div class="label">Number of thumbs to display:</div>
            <p class="desc">Must be greater when zero if random images are displayed. Use zero if all images should be displayed.</p>
            <p><input type="text" class="text80" value="10" name="number" /></p>              
           
            <div class="label">Border width:</div>
            <p><input type="text" class="text80" value="1" name="bwidth" /> px</p>              
           
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="CCCCCC" name="bcolor" /> Border color</p>                    
        </div>
        
        <div class="third-page-inside">
            <div class="label">Lightbox group name:</div>
            <p class="desc">In default all images are grouped for <span class="highlight">lightbox</span>, here you can set your own group name to combine together different NGG thumbs galleries. For default action leave this field empty.</p>   
            <p><input type="text" class="text-full" value="" name="group" /></p>             
        
        
            <div class="label">Padding in pixels:</div>
            <p><input type="text" class="text80" value="0" name="padding" /></p>           
        
            <div class="label">Margins:</div>
            <p class="desc">Use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="15" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="0" /> Left</p>                                              
        </div>
        
        <div class="third-page-right">
            <div class="label">Thumbs container margin bottom:</div>
            <p class="desc">The best will be set it to zero when thumbs have margin bottom greater when zero.</p>  
            <p><input type="text" class="text80" value="0" name="con_mbottom" /></p>           
        
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>          
        
            <div class="label">Corner radius:</div>
            <p>
                <select class="select160" name="rounded">
                    <option value="0">0 pixels</option>
                    <option value="2">2 pixels</option>
                    <option value="3">3 pixels</option> 
                    <option value="4">4 pixels</option>
                    <option value="5">5 pixels</option> 
                    <option value="6">6 pixels</option> 
                    <option value="7">7 pixels</option> 
                    <option value="8">8 pixels</option> 
                    <option value="9">9 pixels</option> 
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option> 
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option> 
                    <option value="14">14 pixels</option>
                    <option value="15">15 pixels</option>                        
                </select>                           
            </p>      
   
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="random" /> Random images<br />
                <input type="checkbox" name="bshow" checked="checked" /> Show Border<br />
                <input type="checkbox" name="tips" /> Show tips<br />               
            </p>       
       
        </div>        
        <div class="clear"></div>
        </form>   
    </div>         
    
    
    <!--dcs_ngg_single-->
    <div id="panel-dcs_ngg_single" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Pictures list:</div>
            <p class="desc">Type comma separated NGG pictires ID</p>
            <p><input type="text" class="text-full" name="list" value="" /></p>  
           
            <div class="label">Thumbs width and height in pixels:</div>
            <p><input type="text" class="text80" value="80" name="width" /> x <input type="text" class="text80" value="80" name="height" /> Width x Height</p>                                 
           
            <div class="label">Border width:</div>
            <p><input type="text" class="text80" value="1" name="bwidth" /> px</p>              
           
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="CCCCCC" name="bcolor" /> Border color</p>                    
        </div>
        
        <div class="third-page-inside">
            <div class="label">Lightbox group name:</div>
            <p class="desc">In default images are not grouped. If you want group images for <span class="highlight">lightbox</span>, here you can set your own group name to combine together images and different NGG thumbs galleries. For default action leave this field empty.</p>   
            <p><input type="text" class="text-full" value="" name="group" /></p>             
                
            <div class="label">Padding in pixels:</div>
            <p><input type="text" class="text80" value="0" name="padding" /></p>           
        
            <div class="label">Margins:</div>
            <p class="desc">Use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="15" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="0" /> Left</p>                                              
        </div>
        
        <div class="third-page-right">
            <div class="label">Thumbs container margin bottom:</div>
            <p class="desc">The best will be set it to zero when thumbs have margin bottom greater when zero.</p>  
            <p><input type="text" class="text80" value="0" name="con_mbottom" /></p>           
        
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>          
        
            <div class="label">Corner radius:</div>
            <p>
                <select class="select160" name="rounded">
                    <option value="0">0 pixels</option>
                    <option value="2">2 pixels</option>
                    <option value="3">3 pixels</option> 
                    <option value="4">4 pixels</option>
                    <option value="5">5 pixels</option> 
                    <option value="6">6 pixels</option> 
                    <option value="7">7 pixels</option> 
                    <option value="8">8 pixels</option> 
                    <option value="9">9 pixels</option> 
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option> 
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option> 
                    <option value="14">14 pixels</option>
                    <option value="15">15 pixels</option>                        
                </select>                           
            </p>      
   
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="exclude" /> Omit excluded images in NGG gallery<br />
                <input type="checkbox" name="bshow" checked="checked" /> Show Border<br />
                <input type="checkbox" name="tips" /> Show tips<br />               
            </p>       
       
        </div>        
        <div class="clear"></div>
        </form>   
    </div> 
    
    <!--dcs_ngg_last-->
    <div id="panel-dcs_ngg_last" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Select NextGen Gallery:</div>
            <p class="desc">If not selected images from whole NGG will be taken.</p>
            <p><select class="select-full" name="ngg_list"></select></p>  
           
            <div class="label">Thumbs width and height in pixels:</div>
            <p><input type="text" class="text80" value="80" name="width" /> x <input type="text" class="text80" value="80" name="height" /> Width x Height</p>                       

            <div class="label">Number of thumbs to display:</div>
            <p class="desc">Must be greater when zero if random images are displayed. Use zero if all images should be displayed.</p>
            <p><input type="text" class="text80" value="10" name="number" /></p>              
           
            <div class="label">Thumbs page:</div>
            <p class="desc">Can be used to display previous N images.</p>
            <p><input type="text" class="text80" value="0" name="page" /></p>               
           
            <div class="label">Border width:</div>
            <p><input type="text" class="text80" value="1" name="bwidth" /> px</p>              
           
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="CCCCCC" name="bcolor" /> Border color</p>                    
        </div>
        
        <div class="third-page-inside">
            <div class="label">Lightbox group name:</div>
            <p class="desc">In default all images are grouped for <span class="highlight">lightbox</span>, here you can set your own group name to combine together different NGG thumbs galleries. For default action leave this field empty.</p>   
            <p><input type="text" class="text-full" value="" name="group" /></p>             
        
        
            <div class="label">Padding in pixels:</div>
            <p><input type="text" class="text80" value="0" name="padding" /></p>           
        
            <div class="label">Margins:</div>
            <p class="desc">Use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="15" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="0" /> Left</p>                                              
        </div>
        
        <div class="third-page-right">
            <div class="label">Thumbs container margin bottom:</div>
            <p class="desc">The best will be set it to zero when thumbs have margin bottom greater when zero.</p>  
            <p><input type="text" class="text80" value="0" name="con_mbottom" /></p>           
        
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>          
        
            <div class="label">Corner radius:</div>
            <p>
                <select class="select160" name="rounded">
                    <option value="0">0 pixels</option>
                    <option value="2">2 pixels</option>
                    <option value="3">3 pixels</option> 
                    <option value="4">4 pixels</option>
                    <option value="5">5 pixels</option> 
                    <option value="6">6 pixels</option> 
                    <option value="7">7 pixels</option> 
                    <option value="8">8 pixels</option> 
                    <option value="9">9 pixels</option> 
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option> 
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option> 
                    <option value="14">14 pixels</option>
                    <option value="15">15 pixels</option>                        
                </select>                           
            </p>      
   
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="exclude" /> Omit excluded images in NGG gallery<br /> 
                <input type="checkbox" name="bshow" checked="checked" /> Show Border<br />
                <input type="checkbox" name="tips" /> Show tips<br />               
            </p>       
       
        </div>        
        <div class="clear"></div>        
        </form>   
    </div>                
    
    <!--dcs_ngg_random-->
    <div id="panel-dcs_ngg_random" class="panel">
        <form>
        <div class="third-page-left">
            <div class="label">Select NextGen Gallery:</div>
            <p class="desc">If not selected images from whole NGG will be taken.</p>
            <p><select class="select-full" name="ngg_list"></select></p>  
           
            <div class="label">Thumbs width and height in pixels:</div>
            <p><input type="text" class="text80" value="80" name="width" /> x <input type="text" class="text80" value="80" name="height" /> Width x Height</p>                       

            <div class="label">Number of thumbs to display:</div>
            <p class="desc">Must be greater when zero if random images are displayed. Use zero if all images should be displayed.</p>
            <p><input type="text" class="text80" value="10" name="number" /></p>                                 
           
            <div class="label">Border width:</div>
            <p><input type="text" class="text80" value="1" name="bwidth" /> px</p>              
           
            <div class="label">Border color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="CCCCCC" name="bcolor" /> Border color</p>                    
        </div>
        
        <div class="third-page-inside">
            <div class="label">Lightbox group name:</div>
            <p class="desc">In default all images are grouped for <span class="highlight">lightbox</span>, here you can set your own group name to combine together different NGG thumbs galleries. For default action leave this field empty.</p>   
            <p><input type="text" class="text-full" value="" name="group" /></p>             
        
        
            <div class="label">Padding in pixels:</div>
            <p><input type="text" class="text80" value="0" name="padding" /></p>           
        
            <div class="label">Margins:</div>
            <p class="desc">Use only integer values.</p> 
            <p><input type="text" class="text40" name="mtop" value="0" /> Top<br /><input type="text" class="text40" name="mright" value="15" /> Right<br /> 
            <input type="text" class="text40" name="mbottom" value="15" /> Bottom<br /><input type="text" class="text40" name="mleft" value="0" /> Left</p>                                              
        </div>
        
        <div class="third-page-right">
            <div class="label">Thumbs container margin bottom:</div>
            <p class="desc">The best will be set it to zero when thumbs have margin bottom greater when zero.</p>  
            <p><input type="text" class="text80" value="0" name="con_mbottom" /></p>           
        
            <div class="label">Background color:</div>
            <p><input type="text" class="colorpicker {hash:true} text80" value="FFFFFF" name="bgcolor" /> Background color</p>          
        
            <div class="label">Corner radius:</div>
            <p>
                <select class="select160" name="rounded">
                    <option value="0">0 pixels</option>
                    <option value="2">2 pixels</option>
                    <option value="3">3 pixels</option> 
                    <option value="4">4 pixels</option>
                    <option value="5">5 pixels</option> 
                    <option value="6">6 pixels</option> 
                    <option value="7">7 pixels</option> 
                    <option value="8">8 pixels</option> 
                    <option value="9">9 pixels</option> 
                    <option value="10">10 pixels</option>
                    <option value="11">11 pixels</option> 
                    <option value="12">12 pixels</option> 
                    <option value="13">13 pixels</option> 
                    <option value="14">14 pixels</option>
                    <option value="15">15 pixels</option>                        
                </select>                           
            </p>      
   
            <div class="label">Other settings:</div>
            <p>
                <input type="checkbox" name="bshow" checked="checked" /> Show Border<br />
                <input type="checkbox" name="tips" /> Show tips<br />               
            </p>       
       
        </div>        
        <div class="clear"></div>               
        </form>   
    </div>       
    
    <p class="buttons-panel">    
        <a class="cancel-btn" href="#" onclick="if(confirm('Close window?')) { TINY.box.hide(); } ">Cancel</a>
        <a class="insert-btn" href="#" >Insert</a>
        <div class="clear"></div> 
    </p>
</div>