body {
	background: #2f160f url(bg.jpg) top left no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left !important;
	font-family: 'Raleway' !important, sans-serif;
}

h1 { font-size: 51px; font-weight: 300;}
h2 { font-size: 45px; font-weight: 300;}
h3 { font-size: 40px; font-weight: 300;}
h4 { font-size: 33px; font-weight: 100 !important;}
h5 { font-size: 24px; font-weight: 100 !important;}
h6 { font-size: 20px; font-weight: 100 !important;}

.red {color: red;}

.hr { height:1px; background-color: #e4e4e4;}

a.sf-with-ul {
padding-right: 20px;
}

#content ul {list-style-position: inside; margin-bottom: 15px;}

.clear{clear:both}
#content-wrapper {
	/* text-align: center !important; */
}

#page-wrapper {
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 23px 65px rgba(0,0,0,.23);
}

#content-wrapper p {
	/* text-align: left !important; */
}

#homepage-content h1 {
	text-align: left !important;
	font-family: 'Raleway', sans-serif;
	font-size: 51px;
	font-weight: 300;
	color: #987b5f;
}

#homepage-content {
	float: left;
	margin-left: 18px;
	width: calc(65% - 18px);
}

#testimonial {
	float: left;
	margin-left: 50px;
	width: 295px;
	border-left: 1px solid #e4e4e4;
	text-align: center;
	padding-bottom: 80px;
}
#testimonial.two {
	border: none;
	width: 100%;
	padding-bottom: 40px;
	margin-left: 0;
}

#testimonial p {
	width: 233px;
	margin: 0 auto;
}

#testimonial .person {
	font-style: italic;
	font-size: 14px;
	text-align: right;
	padding-right: 43px;
}

#testimonial img {
	padding: 8px;
	margin: 15px auto 15px auto;
	border: 1px solid #e4e4e4;
}

#testimonial img.quote {
	border: none;
	margin: 0 2px 0 -19px;
	padding: 0;
}

#testimonial img.end.quote {
	margin: 0  0 -12px -5px;
	float: right;
}

#boxes {
	width: calc(100% - 27px);
	margin: 18px auto 55px 17px;
}
#boxes.two {
	margin: 18px auto 25px 17px;
}
#boxes.two .homepage-box {
	height: 189px;
}
#boxes.two .homepage-box a,
#boxes.two .homepage-box a:hover,
#boxes.two .homepage-box a :focus {
	height: 170px;
}
.homepage-box {
	position: relative;
	float: left;
	width: calc(25% - 6px);
	height: 189px;
	background-color: #d5bda7;
	margin-right: 6px;
	/*box-sizing: border-box;*/
}
.homepage-box img {
	position: absolute;
	bottom: 0;
	right: 0;
}

.homepage-box a,
.homepage-box a:hover,
.homepage-box a :focus
{
	display: block;
	position: relative;
	width: calc(100% - 18px);
	height: 170px;
	margin: 9px;
	background-color: #b21739;
}

.homepage-box div{
	background-color: #000;
	display: block;
	position: relative;
	width: calc(100% - 18px);
	height: 170px;
	margin: 9px;
}

.homepage-box iframe{
	width: calc(100% - 18px);
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 1;
	margin-top: 20px;
}
.homepage-box.visible-small iframe {
	width: 100%;
	height: 100%;
	margin-top: 0;
}

.homepage-box p {
	position: absolute;
	top: 6px;
	left: 6px;
	z-index: 1000;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 200;
	line-height: 30px;
	color: #fff;
}

.homepage-box div p {
	font-size: 24px;
}

/*.homepage-box #box1 {
	background-image: url(bg-box1.jpg);
}

.homepage-box #box2 {
	background-image: url(bg-box2.jpg);
}

.homepage-box #box3 {
	background-image: url(bg-box3.jpg)
}
*/
.homepage-box #box4 {
	background-image: url(bg-box4.jpg);
}

.bxslider p {
	position: absolute;
	background-color: #fff;
	left: 0;
	bottom: 30px;
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	
}

.content-top-link {
	text-decoration: underline;
}

#header-container {
	height: 140px !important;
}

#header-phone {
	display: block;
	font-size: 27px;
	line-height: 35px;
	text-align: center;
	float: right;
	font-family: Georgia, serif;
	color: #585858;
	height: 100px;
	margin-top: 37px;
}

#top-menu-and-search {
	display: none;
	display: none;
}

.dc-widget-wrapper .head {
	font-family: 'Raleway', arial, serif !important;
	font-size: 18px !important;
	color: #987B5F !important;
	text-transform: none !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 0px !important;
}

#footer-bottom {
	padding-bottom: 10px !important;
}

#footer-bottom .copyright {
	padding: 10px 20px 0px 6px !important;
}

#footer-bottom #facebook-box {
	position: absolute;
	bottom: 5px;
	right: 6px;
}

#footer, .links-info-container {
	background: #719445 url(bg-footer.jpg) top left no-repeat;
	text-align: center;
	
}

#footer,
#footer a, 
.links-info-container,
.links-info-container a{
	color: #fff !important;
}

#footer #seo-footer,
#footer #seo-footer h6 {
	color: #575646 !important;
}

#footer #seo-footer {
	float: none;
	text-align: left;
	border: none;
	width: 561px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 10px/14px;
}

#footer #seo-footer div{
	float: left;
	margin-right: 20px;
}

#footer #seo-footer h6 {
	font-family: Verdana, sans-serif;
	font-weight: bold !important;
	font-size: 10px/14px;
	margin: 0;
	text-transform: none;
	
}

 /* ---- Responsive ---- */
 .parent-container {
    max-width: 1000px;
    margin: 0 auto;
 }
#sidr-right-link {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
 #header-container .logo {
  background-size: 100%;
  max-width: 321px!important;
  width: 87%!important;
}
 /* Desktop and bigger */
@media (min-width: 960px) {
  .visible-small {
    display: none !important;
  }
  .visible-medium {
    display: none !important;
  }
  .hidden-large {
    display: none !important;
  }
}
/* Tablets portrait */
@media (min-width: 768px) and (max-width: 959px) {
  .visible-small {
    display: none !important;
  }
  .visible-large {
    display: none !important ;
  }
  .hidden-medium {
    display: none !important;
  }
  .homepage-box {
	width: calc(100% - 12px);
  }
  #homepage-content {
  	width: calc(100% - 18px);
  }
  .navigation-tree-container {
  	display: none !important;
  }
  .sidebar-container-right {
  	display: none !important;
  }
  .page-width-left {
  	width: 100% !important;
  }
}
/* Phone landscape and smaller*/
@media (max-width: 767px) {
  .visible-medium {
    display: none !important;
  }
  .visible-large {
    display: none !important;
  }
  .hidden-small {
    display: none !important;
  }
  #header-container .logo {
    top: 58px !important;
  }
  #header-container {
  	height: 240px !important;
  }
  #header-phone {
	top: 120px;
	position: relative;
	margin-top: -30px;
	width: 100%;
  }
  .homepage-box {
	width: calc(100% - 12px);
  }
  #homepage-content {
  	width: calc(100% - 36px);
  }
  .navigation-tree-container {
  	display: none !important;
  }
  .sidebar-container-right {
  	display: none !important;
  }
  .page-width-left,
  .page-width-right {
  	width: 95% !important;
  	margin-left: auto !important;
  	margin-right: auto !important;
  	float: none !important;
  }
  #boxes {
  	margin: 18px auto 25px 17px;
  }
  .homepage-box {
	height: 160px;
	margin-bottom: 15px;
  }
  .homepage-box a,
  .homepage-box a:hover,
  .homepage-box a :focus {
  	height: 140px;
  }
  .alignright,
  .alignleft {
  	float: none !important;
  	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
  }
  .bxslider p {
  	font-size: 15px;
  	line-height: 10px;
  }
}
@media (max-width: 480px) {
	#header-phone {
  		font-size: 22px;
	}
	.bxslider p {
		display: none;
	}
}